@font-face {
    font-family: 'FreeUniversal';
    src: url('./fonts/FreeUniversal-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cinzel-Bold';
    src: url('./fonts/Cinzel-Bold.woff') format('woff');
}

body,
html {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'FreeUniversal', sans-serif;
    color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel-Bold', sans-serif;
}

h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

p {
    margin: 8px 0;
}

.robot {
    display: none;
}

#root {
    height: 100%;
}

/* Small screens: go full width single column layout */
@media only screen and (max-width: 980px) {
    body .blanket {
        width: 100%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    body .mainPanel {
        width: auto;
    }

    body .otherResources {
        margin-top: 20px;
    }
}

/* For really small screens where the perk row starts to wrap, give the rows more spacing */
@media only screen and (max-width: 700px) {
    .perkRow {
        padding: 5px;
        border-bottom: 1px solid rgba(152, 144, 134, .3);
    }
}

.blanket {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1060px;
    transform: translateX(-50%);
    background: rgba(6,6,6,.7);
    z-index: -1;
    box-shadow: 0 0 30px 35px rgba(6,6,6,.7);
}

.appBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    transform: translate3d(0,0,0);
    background-image: url("images/bg_beastsAndExporation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(40%);
    z-index: -2;
}
.appBackground:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(11,11,16,0.3);
}

.appBackground.vanilla {
    background-image: url("images/bg_vanilla.jpg");
}
.appBackground.vanilla:after {
    background-color: rgba(5,5,5,0.5);
}

.appBackground.warriorsOfTheNorth {
    background-image: url("images/bg_warriorsOfTheNorth.jpg");
}
.appBackground.warriorsOfTheNorth:after {
    background-color: rgba(11,11,16,0.4);
}

.appBackground.blazingDeserts {
    background-image: url("images/bg_blazingDeserts.jpg");
}
.appBackground.blazingDeserts:after {
    background-color: rgba(27,20,11,0.5);
}

.pageTitle {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding-bottom: 120px;
    box-sizing: border-box;
}

.mainPanel {
    width: 700px;
}

.rightPanel {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 48px;
    color: #d1c5b6;
}

.perkPlanner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plannerInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.buildNameInput {
    width: 300px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    color: #fff;
    transition: border .1s;
}

.buildNameInput::placeholder {
    color: #989086;
}

.buildNameInput:hover {
    border: 1px solid rgba(255,255,255,.4);
    background-color: #332923;
}

.buildNameInput:focus {
    border: 1px solid rgba(255,255,255,.6);
}

.plannerButton {
    margin-left: 5px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0; /*to prevent the newline from rendering*/
    transition: border .1s, color .5s;
}

.plannerButton:hover {
    border: 1px solid rgba(255,255,255,.3);
}

.plannerButton:active {
    border: 1px solid rgba(255,255,255,.6);
}

.newButton {
    margin-left: auto;
    margin-right: 4px;
}

.saveButton.saved {
    color: #ff5e5e;
}

.rightInfo {
    display: flex;
    align-items: center;
}

.perkPlannerInfo {
    flex-shrink: 0;
}

.requiredLevel,
.perksRemaining {
    margin: 0;
}

.invalidIndicator {
    margin-right: 8px;
    color: #d6990f;
}

.allPerks {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.perkRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.perk {
    padding: 3px 1px;
    user-select: none;
    filter: grayscale(100%);
    cursor: pointer;
}

@keyframes glow {
    from {
        filter: grayscale(80%);
    }

    to {
        filter: grayscale(55%);
    }
}

.perk:hover {
    animation-duration: 1.5s;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.allPerks:not(.canAddPerk) .perk:not(.isActive):hover {
    animation: none;
}

.allPerks:not(.canAddPerk) .perk:not(.isActive) {
    cursor: auto;
}

.perk.isActive {
    filter: drop-shadow(0px 1px 1px #E8A81E);
    animation: none;
}

.perk img {
    pointer-events: none;
    display: block;
}

.perkHeader {
    font-size: 16px;
    line-height: 1.5;
}

body .rc-tooltip {
    max-width: 400px;
    pointer-events: none;
}

body .rc-tooltip-inner {
    min-height: auto;
}

.rc-tooltip.plannerButtonTooltip {
    font-size: 14px;
}

.statsForecast {
    margin-top: 12px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    /*background: url("./images/tactical_character_background.png") repeat-y;*/
    background-size: 100% auto;
}

.statBar {
    display: flex;
    align-items: center;
}

.inputBar {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    background-color: #261E1B;
    border: 1px solid #716F6D;
    border-radius: 3px;
    box-shadow: inset 0 0 2px 1px rgba(15,11,8, .5), inset 1px 2px 2px rgba(83,61,38, .8);
    cursor: pointer;
}

/*Hover treatment*/
.inputBar:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(164,140,105, .1);
    user-select: none;
    z-index: 0;
}

.inputBar.red {
    background-color: #5A191F;
    border: 1px solid #a38080;
    box-shadow: inset 0 0 2px 1px rgb(75, 21, 27), inset 1px 2px 2px rgb(160, 41, 53);
}

.inputBar.blue {
    background-color: #12527C;
    border: 1px solid #71809a;
    box-shadow: inset 0 0 2px 1px rgb(37, 67, 85), inset 1px 2px 2px rgb(33, 131, 182);
}
.inputBar.blue:hover:before {
    background-color: rgba(154, 177, 219, 0.1);
}

.inputBar.yellow {
    background-color: #AD712A;
    border: 1px solid #c9b692;
    box-shadow: inset 0 0 2px 1px rgb(120, 70, 25), inset 1px 2px 2px rgb(232, 173, 83);
    text-shadow: 0 1px 2px rgb(120, 70, 25), 0 1px 2px rgb(120, 70, 25), 0 1px 2px rgb(120, 70, 25), 0 1px 2px rgb(120, 70, 25);
}
.inputBar.yellow .barInputElement {
    text-shadow: 0 1px 2px rgb(120, 70, 25), 0 1px 2px rgb(120, 70, 25), 0 1px 2px rgb(120, 70, 25), 0 1px 2px rgb(120, 70, 25);
}
.inputBar.yellow:hover:before {
    background-color: rgba(253, 236, 180, 0.1);
}

.statBar .icon {
    flex: 0 0 auto;
    margin-right: 4px;
}

.statBar .inputBar {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.statBar .pinLeft {
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.statBar .stars {
    display: flex;
    margin-left: 2px;
}

.star {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: -2px;
}

.starIcon {
    height: 16px;
}

.starIcon.inactive {
    filter: grayscale(100%) brightness(70%);
}

.statBar .statRangePerLevel {
    font-size: 13px;
    color: #989086;
}

.barTextControl {
    position: relative;
    margin-left: 4px;
    display: flex;
    height: 100%;
}

.barInputWidthReserver {
    opacity: 0;
}

.barInputElement {
    /*Reset input styles*/
    padding: 0;
    border: none;
    background: transparent;
    outline: none !important;
    font-family: inherit;
    font-size: inherit;

    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    color: #fff;
    z-index: 1;
}

.arrowIndicator {
    padding-left: 10px;
    padding-right: 8px;
    margin-top: -1px;
    height: 16px;
}

.maxStat {
    line-height: 24px;
    margin-top: -1px;
}

.loadout {
    margin-top: 28px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.loadoutUI {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.loadoutColumns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.loadoutColumn:not(:first-of-type) {
    margin-left: 34px;
}

.loadoutBags {
    display: flex;
}

.loadoutSlot.accessory {
    margin-top: 9px;
    margin-left: 3px;
    margin-bottom: 8px;
    width: 68px;
    height: 68px;
}

.loadoutSlot.weapon {
    width: 74px;
    height: 144px;
}

.loadoutSlot.helmet {
    margin-left: 3px;
    margin-bottom: 8px;
    width: 68px;
    height: 68px;
}

.loadoutSlot.armor {
    width: 74px;
    height: 144px;
}

.loadoutSlot.ammo {
    margin-top: 9px;
    margin-left: 3px;
    margin-bottom: 8px;
    width: 68px;
    height: 68px;
}

.loadoutSlot.offhand {
    width: 74px;
    height: 144px;
}

.loadoutSlot.bag {
    width: 70px;
    height: 70px;
}

.loadoutSlot.bag:not(:first-of-type) {
    margin-left: 4px;
}

.rightPanel h3 {
    color: white;
    margin-bottom: 8px;
}

.themeSwitcher {
    display: flex;
    margin-top: 20px;
}

.themeButton {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid rgb(77,66,53);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,.5);
    cursor: pointer;
    transition: margin .1s;
}

.themeButton:hover {
    margin-top: -1px;
}

.themeButton.vanilla {
    background-image: url("images/btn_vanilla.jpg");
}

.themeButton.beastsAndExploration {
    background-image: url("images/btn_beastsAndExploration.jpg");
}

.themeButton.warriorsOfTheNorth {
    background-image: url("images/btn_warriorsOfTheNorth.jpg");
}

.themeButton.blazingDeserts {
    background-image: url("images/btn_blazingDeserts.jpg");
}

.savedBuilds {
    margin-top: 20px;
}

.buildList {
    display: flex;
    flex-direction: column;
    /* for animations */
    position: relative;
}

.buildEntry {
    display: flex;
    padding: 4px 0;
    word-break: break-word;
    /* for animations */
    position: relative;
}

.buildEntryText {
    margin-right: 4px;
    cursor: pointer;
    transition: color .1s;
}

.buildEntryText:hover {
    color: #fff;
}

.deleteBuild {
    cursor: pointer;
    height: 22px;
    transition: opacity .2s;

    /*hide button until entry is hovered*/
    pointer-events: none;
    opacity: 0;
}

.buildEntry:hover .deleteBuild {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.deleteBuild svg {
    max-height: 100%;
    display: block;
    transition: color .1s;
}

.deleteBuild:hover {
    color: #fff;
}

.otherResources {
    /* Pin to top of flex*/
    margin-top: auto;
}

.otherResourcesCopy {
    font-size: 12px;
}

.otherResources svg {
    /*this isn't hacky--you're hacky!*/
    max-height: 12px;
    max-width: 12px;
    position: relative;
    top: 2px;
    margin-left: 2px;
}