body,
header {
    margin: 0;
    height: 100%;
}

body {
    color: #ffffff;
}

.appBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    transform: translate3d(0,0,0);
    background: url("./images/armor_bg.jpeg") no-repeat center;
    filter: grayscale(90%);
    z-index: -2;
}
.appBackground:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(22,16,11,0.92);
}

.pageTitle {
    text-align: center;
}

.perkPlanner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plannerInfo {
    width: 800px;
    display: flex;
}

.leftInfo {
    display: flex;
    align-items: center;
}

.buildNameInput {
    width: 300px;
    background: rgba(0,0,0,.2);
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 4px;
    outline: none; /* remove the outline on focus (should probably have a reset sheet...*/
    transition: border .1s;
}

.buildNameInput:hover {
    border: 1px solid rgba(255,255,255,.3);
}

.buildNameInput:focus {
    border: 1px solid rgba(255,255,255,.6);
}

.shareButton {
    margin-left: 5px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0; /*to prevent the newline from rendering*/
    transition: border .1s;
}

.shareButton:hover {
    border: 1px solid rgba(255,255,255,.3);
}

.shareButton:active {
    border: 1px solid rgba(255,255,255,.6);
}

.rightInfo {
    margin-left: auto;
}

.requiredLevel,
.perksRemaining {
    margin: 0;
}

.allPerks {
    width: 800px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.perkRow {
    display: flex;
    justify-content: center;
}

.perk {
    margin: 3px 1px;
    user-select: none;
    filter: grayscale(100%);
}

.perk.isActive {
    filter: none;
}

.perk img {
    pointer-events: none;
    display: block;
}

.perkHeader {
    font-size: 16px;
    line-height: 1.5;
}

/*Wow this is hard to adjust without this kind of duct tape solution*/
.MuiTooltip-tooltip {
    margin: 0 !important;
}

/*button.MuiButton-containedPrimary {*/
    /*background-color: #251B13;*/
/*}*/